[Desktop Entry]
Name=AFST
Exec=~/.local/bin/afst-gui.sh
Comment=Analitic File Sync Tool
Terminal=false
PrefersNonDefaultGPU=false
Icon=file-search
Type=Application
